body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:58px;
    top:244px;
    width:106px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u1 {
    position:absolute;
    left:58px;
    top:287px;
    width:106px;
    height:26px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u2 {
    position:absolute;
    left:58px;
    top:505px;
    width:106px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u3 {
    position:absolute;
    left:58px;
    top:375px;
    width:106px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4 {
    position:absolute;
    left:58px;
    top:332px;
    width:106px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5 {
    position:absolute;
    left:58px;
    top:548px;
    width:106px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6 {
    position:absolute;
    left:58px;
    top:418px;
    width:106px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:58px;
    top:461px;
    width:106px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:58px;
    top:153px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:242px;
    top:27px;
    width:457px;
    height:83px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:271px;
    top:153px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12 {
    position:absolute;
    left:488px;
    top:153px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13 {
    position:absolute;
    left:712px;
    top:153px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u15 {
    position:absolute;
    left:272px;
    top:276px;
    width:462px;
    height:297px
}

.u16_normal {
    background-image: url('../图书信息_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:0px;
    width:457px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:463px;
    height:26px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:453px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../图书信息_files/u16_normal.png');
}

.u18_container {
    position:absolute;
    left:0px;
    top:20px;
    width:457px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:463px;
    height:26px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:453px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../图书信息_files/u16_normal.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:40px;
    width:457px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:463px;
    height:26px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:453px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../图书信息_files/u16_normal.png');
}

.u22_container {
    position:absolute;
    left:0px;
    top:60px;
    width:457px;
    height:20px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:463px;
    height:26px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:453px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../图书信息_files/u16_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:80px;
    width:457px;
    height:20px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:463px;
    height:26px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:453px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../图书信息_files/u16_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:100px;
    width:457px;
    height:20px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:463px;
    height:26px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:453px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../图书信息_files/u16_normal.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:120px;
    width:457px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:463px;
    height:26px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:453px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../图书信息_files/u16_normal.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:140px;
    width:457px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:463px;
    height:26px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:453px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../图书信息_files/u16_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:160px;
    width:457px;
    height:20px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:463px;
    height:26px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:453px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../图书信息_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:180px;
    width:457px;
    height:112px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:463px;
    height:118px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:453px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_line {
    background-image: url('../图书信息_files/u36_line.png');
}

.u36_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:179px;
}

.u36 {
    position:absolute;
    left:341px;
    top:276px;
    width:10px;
    height:179px;
    
}

.u37 {
    position:absolute;
    left:271px;
    top:244px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:485px;
    top:775px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u39 {
    position:absolute;
    left:423px;
    top:605px;
    width:99px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u40 {
    position:absolute;
    left:272px;
    top:634px;
    width:464px;
    height:105px
}

.u41_normal {
    background-image: url('../图书信息_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:0px;
    width:138px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:26px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../图书信息_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:138px;
    top:0px;
    width:100px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../图书信息_files/u43_normal.png');
}

.u45_container {
    position:absolute;
    left:238px;
    top:0px;
    width:100px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../图书信息_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:338px;
    top:0px;
    width:121px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:26px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../图书信息_files/u41_normal.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:20px;
    width:138px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:26px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../图书信息_files/u43_normal.png');
}

.u51_container {
    position:absolute;
    left:138px;
    top:20px;
    width:100px;
    height:20px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../图书信息_files/u43_normal.png');
}

.u53_container {
    position:absolute;
    left:238px;
    top:20px;
    width:100px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../图书信息_files/u47_normal.png');
}

.u55_container {
    position:absolute;
    left:338px;
    top:20px;
    width:121px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:26px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../图书信息_files/u41_normal.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:40px;
    width:138px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:26px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../图书信息_files/u43_normal.png');
}

.u59_container {
    position:absolute;
    left:138px;
    top:40px;
    width:100px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../图书信息_files/u43_normal.png');
}

.u61_container {
    position:absolute;
    left:238px;
    top:40px;
    width:100px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../图书信息_files/u47_normal.png');
}

.u63_container {
    position:absolute;
    left:338px;
    top:40px;
    width:121px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:26px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../图书信息_files/u41_normal.png');
}

.u65_container {
    position:absolute;
    left:0px;
    top:60px;
    width:138px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:26px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../图书信息_files/u43_normal.png');
}

.u67_container {
    position:absolute;
    left:138px;
    top:60px;
    width:100px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../图书信息_files/u43_normal.png');
}

.u69_container {
    position:absolute;
    left:238px;
    top:60px;
    width:100px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../图书信息_files/u47_normal.png');
}

.u71_container {
    position:absolute;
    left:338px;
    top:60px;
    width:121px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:26px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../图书信息_files/u41_normal.png');
}

.u73_container {
    position:absolute;
    left:0px;
    top:80px;
    width:138px;
    height:20px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:26px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../图书信息_files/u43_normal.png');
}

.u75_container {
    position:absolute;
    left:138px;
    top:80px;
    width:100px;
    height:20px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../图书信息_files/u43_normal.png');
}

.u77_container {
    position:absolute;
    left:238px;
    top:80px;
    width:100px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../图书信息_files/u47_normal.png');
}

.u79_container {
    position:absolute;
    left:338px;
    top:80px;
    width:121px;
    height:20px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:26px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:631px;
    top:775px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

